@import "tailwindcss";

html {
  @apply scroll-smooth;
}

body {
  @apply min-h-screen bg-gray-900 text-gray-100;
  font-family: var(--font-inter), sans-serif;
}

.dashed-custom {
  border: 1px dashed #364153;
  border-image: repeating-linear-gradient(
      to bottom,
      #364153 0px,
      #364153 6px,
      transparent 6px,
      transparent 12px
    )
    1;
  border-width: 1px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #d1d5db !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
